body{
    text-align: center;
}
header{
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
    position: fixed;
    width: 100%;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    list-style-type: none;
    margin-top: 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: green;
    margin-right: 25px;
    transition: 1s all;
    font-weight: 900;
}
nav ul li a.active{
    color: dodgerblue;
}
nav ul li a:hover{
    color: dodgerblue;
    transition: 1s all;
}
nav ul li a i{ 
    margin-right: 5px;
}
div.brand{
    padding: 20px;
}
div.brand a{
    color: green;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}
.justify-around{
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
section#body{
    padding-top: 60px;
}
img{
    width: 200px;
    height: 150px;
}
img.logo{
    width: 40px;
    height: 30px;
}
section#body a{
    text-decoration: none;
    color: #000;
    font-size: 10px;
}
button{
    text-decoration: none;
    font-size: small;
    background-color: rgba(32, 122, 145, 0.836);
    border-radius: 5px 5px;
    font-size: 13px;
}

